body {
		background-color: pink;
		margin: 0;
		padding: 0;
}

header h1{
	text-align:center;
}
header{
	background-color:#e0e0eb;
}
header nav ul{
	display:flex;
	justify-content:space-around;
	list-style:none;
	padding:30px;
	margin:0;
	background:red;
}
nav a:hover{
	color:white;
	background-color:none;
	text-decoration:underline;
	font-style:italic;
}
header nav a{
	color:black;
	font-size:30px;
}
header nav ul{
	display:flex;
	justify-content:space-around;
	list-style:none; /* quitamos los puntos de la lista */
	padding:0;
	margin:0;
}

header nav li{
	flex-grow:1;
	text-align:center;
}
footer{
	background-color:#e0e0eb;
	text-align:center;
	border-top:32px solid red;
}
footer p{
	margin:0;
	padding:32px 0 32px 0;
}